.page {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 20px 0 20px;
  --blue: #0087c9;
  --white: #fff;
  --gray: #a2a2a2;
  --gray-text: #425668;
  --light-gray: #e5e5e5;
  --orange: #ffab14;
  --light-orange: #ffb168;
  --black: #000;
  margin: 0 auto;
  max-width: 1200px;
}

.aside {
  flex-basis: 25%;
  max-width: 300px;
  font-size: 14px;
  color: var(--gray-text);
}

.aside-form__item {
  margin-top: 10px;
}

.aside-form__item:first-of-type {
  margin: 0;
}

.aside-form__label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.aside-form__text-input {
  display: flex;
  gap: 5px;
}

.aside__radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aside__carrier-name {
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  top: 4px;
}

.main {
  width: 70%;
  max-width: 600px;
}

.main__card {
  width: 100%;
  min-width: 600px;
  max-width: 800px;
  margin-bottom: 20px;
}

.main__card:last-of-type {
  margin-bottom: 0;
}

.main__card-header {
  width: 100%;
  background: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  box-sizing: border-box;
}

.main__card-logo {
  width: 200px;
  height: 40px;
  object-fit: contain;
}

.main__card-price {
  text-align: end;
}

.main__card-price-value {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.main__card-price-sub {
  margin: 0;
  font-size: 10px;
}

.blue-text {
  color: var(--blue);
}

.smaller-text {
  font-size: 0.8em;
}

.bigger-text {
  font-size: 1.4em;
}

.main__card-leg {
  width: 95%;
  padding-left: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
  border-bottom: 1px solid var(--light-gray);
}

.main__card-time {
  width: 95%;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
}

.main__card-segments {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  /* column-gap: 10px; */
}

.main__card-segments-line {
  width: 100%;
  border-bottom: 1px solid var(--gray);
}

.main__card-segments-number {
  text-align: center;
  flex-shrink: 0;
  color: var(--orange);
  margin: 0 10px 0;
}

.main__card-carrier {
  width: 95%;
  margin: 0 auto;
  padding-left: 20px;
  box-sizing: border-box;
}

.main__card-carrier-text {
  margin-bottom: 10px;
}

.main__card-divider {
  width: 100%;
  border-bottom: 1px solid var(--blue);
}

.main__card-button {
  width: 100%;
  border: none;
  border-radius: 0;
  height: 40px;
  background: var(--light-orange);
  color: var(--white);
  cursor: pointer;
}

.main__button {
  border-radius: 0;
  border: 1px solid var(--black);
  width: 40%;
  background: var(--light-gray);
  height: 25px;
  display: block;
  margin: 20px auto 0;
}

.main__button:hover {
  background: var(--gray);
}
