.page {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 20px 0 20px;
  --blue: #0087c9;
  --white: #fff;
  --gray: #a2a2a2;
  --gray-text: #425668;
  --light-gray: #e5e5e5;
  --orange: #ffab14;
  --light-orange: #ffb168;
  --black: #000;
  margin: 0 auto;
  max-width: 1200px;
}

.aside {
  flex-basis: 25%;
  max-width: 300px;
  font-size: 14px;
  color: var(--gray-text);
}

.aside-form__item {
  margin-top: 10px;
}

.aside-form__item:first-of-type {
  margin: 0;
}

.aside-form__label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.aside-form__text-input {
  display: flex;
  gap: 5px;
}

.aside__radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aside__carrier-name {
  max-width: 16ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  top: 4px;
}

.main {
  width: 70%;
  max-width: 600px;
}

.main__card {
  width: 100%;
  max-width: 640px;
  margin-bottom: 20px;
  font-size: 17px;
}

.main__card:last-of-type {
  margin-bottom: 0;
}

.main__card-header {
  width: 100%;
  background: var(--blue);
  color: var(--white);
  min-height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 10px;
  box-sizing: border-box;
}

.main__card-logo {
  height: 25px;
  object-fit: contain;
}

.main__card-price {
  text-align: end;
}

.main__card-price-value {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.main__card-price-sub {
  margin: 0;
  font-size: 10px;
}

.main__message {
  display: block;
  text-align: center;
  font-size: 24px;
}

.blue-text {
  color: var(--blue);
}

.smaller-text {
  font-size: 0.8em;
}

.bigger-text {
  font-size: 1.4em;
}

.main__card-leg {
  width: 95%;
  padding-left: 5px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
  border-bottom: 1px solid var(--light-gray);
}

.main__card-leg-text {
  font-weight: 500;
  margin: 5px 0 10px;
}

.main__card-time {
  width: 95%;
  padding-left: 5px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
}

.main__card-time-arrival,
.main__card-time-departure,
.main__card-time-travel {
  margin: 10px 0 5px;
}

.main__card-segments {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 83%;
  /* column-gap: 10px; */
}

.main__card-segments-line {
  width: 100%;
  border-bottom: 1px solid var(--gray);
}

.main__card-segments-number {
  text-align: center;
  flex-shrink: 0;
  color: var(--orange);
  margin: 0 10px 0;
}

.main__card-carrier {
  width: 95%;
  margin: 0 auto;
  padding-left: 5px;
  box-sizing: border-box;
}

.main__card-carrier-text {
  margin-top: 15px;
  margin-bottom: 5px;
}

.main__card-divider {
  width: 100%;
  border-bottom: 2px solid var(--blue);
}

.main__card-button {
  width: 100%;
  border: none;
  border-radius: 0;
  height: 40px;
  background: var(--light-orange);
  color: var(--white);
  cursor: pointer;
}

.main__button {
  border-radius: 0;
  border: 1px solid var(--black);
  width: 43%;
  background: var(--light-gray);
  height: 26px;
  display: block;
  margin: 20px auto 0;
  font-size: 20px;
}

.main__button:hover {
  background: var(--gray);
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--blue);
}

.burger-menu {
  display: block;
  position: relative;
  top: 10px;
  left: 5px;
  width: 30px;
  height: 21px;
}

.burger-menu span {
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 3px;
  top: 9px;
  transition: all 0.3s ease-in 0s;
}

.burger-menu:before,
.burger-menu:after {
  content: "";
  background-color: var(--white);
  position: absolute;
  width: 100%;
  height: 3px;
  transition: all 0.3s ease-in 0s;
}

.burger-menu:before {
  top: 0;
}

.burger-menu:after {
  bottom: 0;
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu.active:after {
  transform: rotate(45deg);
  top: 9px;
}

.burger-menu.active:before {
  transform: rotate(-45deg);
  top: 9px;
}

@media screen and (max-width: 1024px) {
  .page {
    column-gap: 10px;
    padding: 10px 0 10px;
  }
}

@media screen and (max-width: 900px) {
  .page {
    column-gap: 10px;
    padding: 0;
    padding-left: 5px;
  }

  .aside-form__item_type_carriers {
    min-width: 226px;
  }
}

@media screen and (max-width: 800px) {
  .main__card {
    font-size: 15px;
  }

  .main__card-time {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .main__card {
    font-size: 14px;
  }

  .main__card-leg {
    text-align: center;
  }

  .main__card-time {
    font-size: 16px;
  }

  .main__card-carrier {
    text-align: center;
    font-size: 1em;
  }
}

@media screen and (max-width: 620px) {
  .main__card-time {
    flex-direction: column;
    align-items: center;
  }

  .main__card-time-arrival {
    margin: 5px;
  }

  .main__card-time-departure {
    margin: 5px;
  }

  .main__card-time-travel {
    margin: 5px;
  }

  .main__card-carrier {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 556px) {
  .page {
    padding: 0;
    padding-top: 50px;
  }

  .main__card-leg {
    padding: 0;
  }

  .main__card-carrier {
    padding: 0;
  }

  .main__card-time {
    padding: 0;
  }

  .aside {
    display: none;
  }

  .main {
    width: 95%;
    min-width: 320px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.disable {
  display: none;
}
