.page {
  display: flex;
}

.aside {
  flex-basis: 25%;
  max-width: 300px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 14px;
}

.aside-form__item {
  margin-top: 10px;
}

.aside-form__item:first-of-type {
  margin: 0;
}

.aside-form__label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.aside-form__text-input {
  display: flex;
  gap: 5px;
}

.aside__radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aside__carrier-name {
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  top: 4px;
}
